<h4>Collaborators</h4>
<ul>
	<% @wiki.collaborators.each do |collaborator| %>
		<li>
			<%= collaborator.user.name %> <%= link_to "", "/wikis/#{@wiki.id}/collaborators/#{collaborator.id}", method: :delete, class: 'glyphicon glyphicon-remove' %>
		</li>
	<% end %>
</ul>
