<br>
<div class="heading">
  <h1> Blocipedia </h1>
  <p> Use Blocipedia to create and edit wikis about meaningful topics. </p>
  <p>
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2> Create all kinds of wikis for free: </h2>
    <%= link_to "Free Plan", new_user_path, class: 'btn btn-info' %>
  </div>

  <div class="col-md-4">
    <h2> Or create private wikis!</h2>
    <%= link_to "Premium Plan", new_charge_path, class: 'btn btn-info' %>
  </div>
