<h1> New Wiki </h1>

<div class="row">
    <div class="col-md-4">
      <p> Rules for Wikis : </p>
      <ul>
        <li> No spamming of innapropriate content. </li>
        <li> Dont make a proofreading error! </li>
        <li> No duplicate posts please. </li>
      </ul>
    </div>
    <div class="col-md-8">
     <%= render partial: 'form' %>
    </div>
</div>
